name: observable_data
description: A Reactive model that passes data through the chain of modifications
version: 0.2.0
author: Nevyantsev Alexandr <nevyantsev.alexandr@gmail.com>
homepage: https://github.com/makedonsky94/ObservableData

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter: